<!DOCTYPE html>
<html>
<head>
	<title>صفحه مورد نظر پیدا نشد | ایران باگت</title>

	<style type="text/css">
	body
	{
		background-color: #e74c3c;
	}

	.not
	{
		font-family: sans-serif;
		font-weight: bold;
		font-size: 10rem;
		margin: auto; 
		text-align: center;
		margin-top: 10%;
		color: #ecf0f1;
	}
	p
	{
		font-size: 3rem;
		margin: auto;
		text-align: center;
		margin-top: 1%;
		color: #ecf0f1;
	}



	</style>
</head>
<body>
	<div class="not">
		<span>404</span>
		<p>صفحه مورد نظر پیدا نشد</p>
	</div>
</body>
</html>